<!DOCTYPE html>
<html>
<head>
    <title>Admin page</title>
</head>
<body>
<h1>Admin page</h1>
<form method="post" action="/admin" id="loginForm">
    <label for="password">password</label>
    <input type="password" name="password"/>
    <input type="submit" value="Login" id="loginBtn"/>
</form>
<!--<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>-->
<!--<script type="text/javascript">-->
    <!--$('#loginBtn').click(function(){-->
        <!--$.ajax({-->
            <!--url : 'http://localhost:3000/admin',-->
            <!--type : 'POST',-->
            <!--dataType : 'json',-->
            <!--success : function(data) {-->
                <!--alert('heee');-->
                <!--$('#loginForm').action = 'http://localhost:3000/admin/mngProviderData';-->
                <!--$('#loginForm').submit();-->
            <!--}-->
        <!--});-->
    <!--});-->

<!--</script>-->
</body>
</html>
