<!DOCTYPE html>
<html>
<head>
    <title>Image</title>
</head>
<body>

<input type="button" value="crawling" style="width: 200px; height: 100px; font-size: 30px"/>
<br>
<img src=<%=address%>>


</body>
</html>